html{
    scroll-behavior: smooth;
}

.body{
    margin: 0%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #30343F 0%, #273469 44%, #F15025 100%);
}


.Home{
    
    position: fixed;
    float: left;
    padding: 0vh 0px;
    margin-left: -25%;
    top: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color:azure;
    text-decoration: none;
    opacity: 0.75;
    width: 15%;  
}



.Menu{
    
    position: fixed;
    text-align: center;
    padding: 20px 0px;
    top: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color:azure;
    text-decoration: none;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,112,181,1) 44%, rgba(241,80,37,1) 100%);
    opacity: 0.75;
    width: 100%;  
}


.Menu a{
    text-align: center;
    padding: 20px 15px;
    top: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color:azure;
    cursor: pointer;
    text-decoration: none;    
}

.Menu a:hover {
    background: #ddd;
    color: rgb(51,51,51);
    box-shadow: 0 0 2px 1px #F15025;
  }

.Menu a::after{
    background: #ddd;
    color: rgb(0,0,0);
}

.ico{
    border-radius: 30%;
    background-color: #1E2749;
    float: right;
    cursor: pointer;
    padding: 0.5vh 0.5vh;
}

.ico-link{
    margin-bottom: 2%;
}
.ico-link :hover{
    opacity: 0.65;
}

.ico-gh{
    margin-bottom: 2%;
}
.ico-gh :hover{
    opacity: 0.65;
}

.ico-rh{
    margin-bottom: 2%;
}

.ico-rh :hover{
    opacity: 0.65;
}

.Head{
    background-color: rgb(58,59,60);
    border: black;
    width: 100%;
}

.Head-Container{
    width: 100%;
    height: 100vh;
    background: url("img/fondo-header.png");
    background-attachment: fixed;
}
.Logo{
    padding-top: 32.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    height: 400px;
    shape-rendering: geometricPrecision;
    opacity: 1;

}

.Titulo{
    
    text-align: center;
    color: #E4D9FF;
    text-combine-upright:initial;
    display: block;
    margin-left: 21%;
    margin-right: 21%;
    background-color: #273469;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
} 

.AcercaDeMi{
    padding-left: auto;
    padding-right: auto;
}

.container1{
    text-align: center;
    padding: 40px 80px;
    background-color:#30343F;
    border: rgb(0, 0, 0);
    /*background-image: url("img/223.jpg");*/
    background-attachment: fixed;
    margin-left: 0%;
    margin-right: 0%;
}
.container1 :marker{ 
    text-align: center;
    padding: 40px 80px;
    background-color:#E4D9FF;
    border: rgb(0, 0, 0);
    /*background-image: url("img/223.jpg");*/
    background-attachment: fixed;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    opacity: 0.65;
    
}

.container2{
    text-align: center;
    padding: 40px 80px;
    background-color: royalblue;
    border: rgb(0, 0, 0);
    background-image:url("img/22.png");
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.container3{
    text-align: center;
    padding: 40px 80px;
    background-color: royalblue;
    border: rgb(0, 0, 0);
    background-image: url("img/223.jpg");
    background-size: 100%;
    background-attachment: fixed;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.container4{
    text-align: center;
    padding: 40px 80px;
    background-color: #1E2749;
    border: rgb(0, 0, 0);
    background-attachment: fixed;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

    
}

.containerTech{
    text-align: center;
    padding: 40px 80px;
    background-color: #1E2749;
    border: rgb(0, 0, 0);
    background-attachment: fixed;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

    
}

.HeaderCont{
    
    text-align: center;
    color: #F15025;
    text-combine-upright:initial;
    padding-left: -25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
} 

.h2cont{
    
    text-align: center;
    color: #E4D9FF;
    text-combine-upright:initial;
    padding-left: -25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
} 

.h3cont{
    
    text-align: center;
    color: #E4D9FF;
    text-combine-upright:initial;
    padding-top: -10px;
    padding-left: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
} 

.h4cont{
    text-align: center;
    color: #ddd;
    padding-top: 0px;
    padding-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
} 

.tech{
    margin-left: auto;
    margin-right: auto;
}

.imgBAF{
    padding: 13vh 0vh;
    width: 15%;
    height: 15%;
    float: left;
    display: block;
    border-radius: 50%;
}

@keyframes movement1 {
    0% {left: -4px; top: 0px}
    25% {left: 0px; top: 2px}
    50% {left: 4px; top: 4px}
    75% {left: 0px; top: 6px}
    100% {left: -4px; top: 0px}
  }

  @keyframes movement2 {
    0% {left: 4px; top: 0px}
    25% {left: 0px; top: 2px}
    50% {left: -4px; top: 4px}
    75% {left: 0px; top: 6px}
    100% {left: 4px; top: 0px}
  }

  @keyframes movement3 {
    0% {left: -4px; top: -2px}
    25% {left: 0px; top: 0px}
    50% {left: -2px; top: 2px}
    75% {left: 0px; top: 6px}
    100% {left: -4px; top: 0px}
  }

  @keyframes movement4 {
    0% {left: -4px; top: 0px}
    25% {left: 0px; top: 2px}
    50% {left: 4px; top: 4px}
    75% {left: 0px; top: 6px}
    100% {left: -4px; top: 0px}
  }

.utnlogo{
    width: 3%;
    height: 3%;
    animation-name: movement1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    padding: 0px 0px;
}

.cs{
    block-size: 33vh;
    display: inline-block;
    border-radius: 100%;
    padding: 0px 30px;
    animation-name: movement1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.cpp{
    height: 30%;
    block-size: 20vh;
    display: inline-block;
    border-radius: 50%;
    padding: 0px 30px;
    animation-name: movement2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.net{
    block-size: 20vh;
    display: inline-block;
    border-radius: 50%;
    padding: 0px 30px;
    animation-name: movement3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.unity{
    block-size: 20vh;
    display: inline-block;
    border-radius: 50%;
    padding: 0px 30px;
    animation-name: movement4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.docker{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 0px 0px;
    animation-name: movement1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}
.sql{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 0px 30px;
    animation-name: movement2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.prox{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 0px 30px;
    animation-name: movement3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.rancher{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 0px 30px;
    animation-name: movement4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.vmware{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 10vh 30px;
    animation-name: movement1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.html{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 10vh 30px;
    animation-name: movement2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.css{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 10vh 30px;
    animation-name: movement3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

.js{
    block-size: 20vh;
    display: inline-block;
    border-radius: 0%;
    padding: 10vh 30px;
    animation-name: movement4;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}


.ROTAHOST{
    width: 20%;
    height: 20%;
    margin-top: 0%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fondoc2{
    background-color: #F15025;
    opacity: 0.9;
    display:flow-root;
}

.footer{
    text-align: center;
    padding: 40px 80px;
    background-color: #30343F;
    background-attachment: relative;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;    
}
